{{ define "user/article.html" }}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

{{template "public/head.html" .}}
<div>
    {{range .articles}}
    <div>
        <a href="/article/detail/?article_id={{.Id}}"> <span> title: {{.Title}}</span> </a><br>
        <span> Summary: {{.Summary}}</span><br>
        <span> cateroty: {{.CategoryName}}</span><br>
        <div style="height:5px;width: 50%;background-color: rgba(0,0,0,0.5);"></div>
    </div>
    {{end}}
</div>
{{template "public/foot.html" .}}

</html>
{{end}}