{{ define "user/index.html" }}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> index </title>
</head>


{{template "public/head" .}}
<div style="margin: 0 auto;text-align: center; position: relative; top:20px;">
    <img style=" height:500px; width: 700px ;" src="../static/01.jpg"><br>
    <img style=" height:500px; width: 700px ;" src="../static/01.jpg"><br>
    <img style=" height:500px; width: 700px ;" src="../static/01.jpg"><br>
    <img style=" height:500px; width: 700px ;" src="../static/01.jpg">
</div>
{{template "public/foot" .}}


</html>
{{end}}