#title{
    border-width: 1px;
    border-style: solid;
    border-color: #00000030;
    font-size: 45px;;
    text-align: center;
    height: auto;
    width: auto;
    margin: 0 auto;
    margin-top: 3%;
}

#content{
    width:50%;
    word-wrap:break-word;
    margin: 0 auto;
    margin-top:3%;
}

img{
    height:108px;
    width:192px;
}