#title{
    border-width: 1px;
    border-radius: 15%;
    border-style: solid;
    border-color: #00000030;
    font-size: 25px;;
    text-align: center;
    height: auto;
    width: auto;
    margin: 0 auto;
    margin-top: 3%;
}

#content{
    background-color:#00000060;
    border-width: 1px;
    border-radius: 15%;
    border-style: solid;
    border-color: #00000030;
    font-size: 15px;
}